


<br>
<br>
<br>



<h2 style="text-align:center"> Thank you for your message " @TempData["name"] " </h2>

<h4 style="text-align:center"> We will get back to you soon </h4>


<h2 style="text-align:center"> <a asp-action="Index" asp-controller="Post">Go Back To Home </a></h2>
