@model Post

  
    <title>  Create New Post</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
 
  <body>

 <form asp-action="NewPost" asp-controller="Admin" method="POST" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id">
                <div class="form group">
                    <label>Title</label>
                    <input type="text" asp-for="Title" class="form-control">
                </div>
                <label><strong>Description</strong></label>
                <br>



    <textarea id="summernote" name="description2" value="description2"></textarea>
    <script>
      $('#summernote').summernote({
        placeholder: 'Post Description Goes Here...',
        tabsize: 2,
        height: 100
      });
    </script>
<div class="form-group">
   <label > Category </label>
    <select class="form-control" asp-for="Category"> 
      <option>Technology</option>
      <option>Mobile</option>
      <option>Laptop</option>
      <option>OS</option>
      <option>Reviews</option>
      <option>Hacking</option>
     
      <option>Apps</option>
      
    </select>
  </div>
 
<div class="custom-file">
    <input  class="custom-file-input" type="file" name="pic" accept="image/*" required>
    <label class="custom-file-label" >Chose post photo...</label>
   
</div>



<input class="btn btn-outline-primary" type="submit" value="Create"/>
 
<br>
        
</form>


  </body>


