 <title>Cookie Policy</title>

<div class="section">
			<!-- container -->
			<div class="container">
				
				<div class="row">
                <p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:1"><b><span style="font-size:18.0pt;
font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-font-kerning:18.0pt;mso-bidi-language:NE">Cookie policy<o:p></o:p></span></b></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">Cookie Policy
is a policy of how the Website owner (We) uses Cookies on </span><span style="font-size:18.0pt"><a href="http://www.bibloblog.com/"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-language:NE">http://www.bibloblog.com</span></a></span><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-language:NE"> and this site product and services.<o:p></o:p></span></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">At, First all
you have to read the BibloBlog Cookie Policy (“Policy”)&nbsp; to understand what type of cookies, the
information we collect, and how that information is used. For more detail, you
can see our </span><span style="font-size:18.0pt"><a href="http://bibloblog.com/home/privacy"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">Privacy Policy</span></a></span><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-language:NE"> page<o:p></o:p></span></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:2"><span style="font-size:18.0pt;
font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-language:NE">&nbsp;</span></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:2"><b><span style="font-size:18.0pt;
font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-language:NE">What cookies are in </span></b><span style="font-size:
18.0pt"><a href="http://bibloblog.com/"><b><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:#1F4E79;mso-themecolor:accent5;
mso-themeshade:128;mso-bidi-language:NE">BibloBlog</span></b></a></span><b><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-language:NE">?<o:p></o:p></span></b></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">Cookies are
directly proportional to a text file that saves on our devices when we first
load the website in the browser. These text file are designed to hold new data
to client website so that the website can remember you next time when you again
visit BibloBlo. <a href="http://bibloblog.com" target="_blank">BibloBlog</a> uses two kinds of cookies <b>Session
cookie</b> and <b>Persistent cookie</b>.<o:p></o:p></span></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">&nbsp;</span><span style="font-family: &quot;Times New Roman&quot;, serif; font-size: 18pt;">Session cookies
are temporary cookies that do not store any information regarding the website.
This type of cookies expires when you close the web browser(not site).</span></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">&nbsp;</span><span style="font-family: &quot;Times New Roman&quot;, serif; font-size: 18pt;">Persistent
Cookies are the main cookies that store information or remember your device
even after when you close your web browser. Persistent Cookies is a text file
that provides a website with user setting and data for the next time or future.
It is also called a stored cookie.</span></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">Cookies may be
set by the Website ("first-party cookies"), or by third parties, such
as those who serve content or provide advertising or analytics services on the
website ("third party cookies"). These third parties can recognize
you when you visit our site and also when you visit certain other websites.<o:p></o:p></span></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:2"><b><span style="font-size:18.0pt;
font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-language:NE">What cookie options in BibloBlog?<o:p></o:p></span></b></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">If you are not
familiar with the cookie, you can delete it from your browser, or you can
change the setting.<o:p></o:p></span></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><b style="font-size: 1rem;"><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">Can Website
owners access users Cookies?</span></b></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">Definitely not.<o:p></o:p></span></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">As we mention
above we use Cookies only for DoubleClick DART to display advertisement on our
website. <o:p></o:p></span></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">Once a user
visits the BibloBlog, and the cookie is created it is only possible for users
to edit and delete it. Real Owners does not have authorized to access the user's
cookies because we already know that cookies are stored in the local user
computer, not website server<b><o:p></o:p></b></span></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:2"><b style="font-size: 1rem;"><span style="font-size:18.0pt;
font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-language:NE">Changes</span></b></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">When we change
or modify the Policy of <b>BibloBlog</b>, then we will notify users. This
policy is created with&nbsp;</span><a href="http://bibloblog.com/home/privacy" style="font-family: &quot;Times New Roman&quot;, serif; font-size: 18pt; background-color: rgb(255, 255, 255);">Bibloblog
Policies</a></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><br></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><b style="font-size: 1rem;"><span style="font-size:18.0pt;
font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-language:NE">Acceptance of BibloBlog Cookie Policy</span></b></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">You as a user
of this site acknowledge that you carefully read Cookie Policy and agree to all
terms and condition and you agree to be bound by Policy. <o:p></o:p></span></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">If you do not
agree with our Cookies Policy, you are not authorized to Acces our Website.<o:p></o:p></span></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">&nbsp;</span></p><p class="MsoNormal"><b><span style="font-size:18.0pt;line-height:107%;
font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-language:NE">Feel free to contact if you have any question by Clicking
</span></b><span style="font-size:18.0pt;line-height:107%"><a href="http://bibloblog.com/contact"><b><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">Here</span></b></a></span><b><span style="font-size:18.0pt;line-height:107%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">.<o:p></o:p></span></b></p><p class="MsoNormal"><b><span style="font-size:18.0pt;line-height:107%;
font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-language:NE">&nbsp;</span></b></p><p>



























































</p><p class="MsoNormal"><span style="font-size:18.0pt;line-height:107%">&nbsp;</span></p>



                </div>
                </div>
                </div>
