 <title>Desclaimer </title>

<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
<p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:1"><b><span style="font-size:18.0pt;
font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-font-kerning:18.0pt;mso-bidi-language:NE">Disclaimer<o:p></o:p></span></b></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">This
disclaimer(“Agreement”) is an agreement between you (“user”) and we(“Website
owner”). This BibloBlog Disclaimer puts forward the general guidelines, terms,
and condition of your use of the </span><span style="font-size:18.0pt"><a href="http://www.bibloblog.com/"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">http://www.bibloblog.com</span></a>
and </span><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">this site
Product and Services.<o:p></o:p></span></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:2"><span style="font-size:18.0pt;
font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-language:NE">&nbsp;</span></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:2"><b><span style="font-size:18.0pt;
font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-language:NE">Representation of BibloBlog:<o:p></o:p></span></b></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">Any views or
opinions represented in this Website belong solely to the Content creators and
do not represent those of people, institutions or organizations that the Website
Operator or creators may or may not be associated with in professional or
personal capacity unless explicitly stated. Any views or opinions are not
intended to malign any religion, ethnic group, club, organization, company, or
individual.<o:p></o:p></span></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:2"><b><span style="font-size:18.0pt;
font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-language:NE">Content and postings of Website<o:p></o:p></span></b></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">As a user, you
are not allowed to modify, print, or copy of any part that related to BibloBlog
Website. Inclusion of any resources of BibloBlog in another work, whether in
hard copy or electronic form or addition of any part of the Website in another
website without Permission of </span><span style="font-size:18.0pt"><a href="http://bibloblog.com/contact"><b><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">BibloBlog Owner</span></b></a></span><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-language:NE"> is prohibited. <o:p></o:p></span></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">You may submit
comments for the Post available on the Website. By uploading or otherwise
making available any information to Website Operator, you grant Website
Operator the unlimited, perpetual right to distribute, display, publish,
reproduce, reuse, and copy the information contained therein. You may not
impersonate any other person through the Website. You may not post content that
is defamatory, fraudulent, obscene, threatening, invasive of another person's
privacy rights or that is otherwise unlawful. You may not post material that
infringes on the intellectual property rights of any other person or entity.
You may not post any content that includes any computer virus or other code
designed to disrupt, damage, or limit the functioning of any computer software
or hardware. By submitting or posting Content on the Website, you grant Website
Operator the right to edit and, if necessary, remove any Content at any time
and for any reason.<o:p></o:p></span></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:2"><b><span style="font-size:18.0pt;
font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-language:NE">Compensation<o:p></o:p></span></b></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">Some of the
links on the Website may be "affiliate links." This means if you
click on the link and purchase an item, Website Operator will receive an
affiliate commission.<o:p></o:p></span></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:2"><b style="font-size: 1rem;"><span style="font-size:18.0pt;
font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-language:NE">Indemnification and warranties</span></b></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">Website
Operator guarantees the accuracy, reliability, and completeness of the
information and content on, distributed through or linked, downloaded or
accessed from this Website. Furthermore, the information contained on the
Website and any pages linked to and from it are subject to change at any time
and without warning.<o:p></o:p></span></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">We reserve the
right to modify this Disclaimer relating to the Website or Services at any
time, effective upon posting of an updated version of this Disclaimer on the
Website. When we do, we will revise the updated date at the bottom of this
page. Continued use of the Website after any such changes shall constitute your
consent to such changes. The policy was created with </span><span style="font-size:18.0pt"><a href="https://www.websitepolicies.com/disclaimer-generator" target="_blank" title="Create disclaimer"><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">website
policies</span></a></span><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">.<o:p></o:p></span></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:2"><b><span style="font-size:18.0pt;
font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-language:NE">Acceptance of this disclaimer<o:p></o:p></span></b></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">At last, you
have read BibloBlog Disclaimer and agree to all terms and conditions to be
bound by Policy. If you do not agree with BibloBlog Disclaimer, you are not
authorized to Acces our Website.</span></p><p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><b style="font-size: 1rem;"><span style="font-size:18.0pt;
font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-language:NE">If you have further question regarding Disclaimer, feel
free to contact us by Clicking </span></b><span style="font-size: 18pt;"><a href="http://bibloblog.com/contact"><b><span style="font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-language:NE">Here</span></b></a></span><b style="font-size: 1rem;"><span style="font-size:18.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-language:NE">.</span></b></p>


                </div>
                </div>
                </div>