

	

	
	<link type="text/css" rel="stylesheet" href="css/404.css" />

	



	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
			</div>
			<h2>Hmmm!, Looks like the Page you are looking for doesn't exist !</h2>
			<form class="notfound-search">
				<input type="text" placeholder="Search...">
				<button type="button">Search</button>
			</form>
			<a asp-action="Index" asp-controller="Post"><span class="arrow"></span>Return To Homepage</a>
		</div>
	</div>


</html>
